/* General Styles */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    line-height: 1.6;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
}

ul {
    list-style: none;
    padding: 0;
}

/* Header and Navigation */
header {
    background-color: #6C7A89; /* Blueish Grey */
    padding: 20px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #E0E7E9; /* Light Grey */
    font-weight: bold;
}

/* Buttons */
.button {
    display: inline-block;
    background-color: #354649; /* Darker Grey */
    color: #E0E7E9; /* Light Grey */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #6C7A89; /* Blueish Grey */
}

/* Project Section */
#projects {
    background-color: #f2f2f2;
    padding: 40px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#projects h2 {
    text-align: left;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333333;
}

#projects section {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#projects .image {
    flex: 0 0 30%; /* Adjust the width of the image */
    margin-right: 20px;
}

#projects .image img {
    width: 100%;
    border-radius: 5px;
    object-fit: cover;
}

#projects .content {
    flex: 1;
}

/* Introduction Section */
#introduction {
    text-align: center;
    padding: 50px 0;
    background-color: #354649; /* Darker Grey */
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #E0E7E9; /* Light Grey */
}

.intro p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #E0E7E9; /* Light Grey */
}

.actions {
    margin-top: 20px;
}


/* Introduction Section */
#introduction {
    text-align: center;
    padding: 50px 0;
    background-color: #354649; /* Darker Grey */
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.intro img {
    border-radius: 50%; 
    width: 200px; 
    height: 200px;
    object-fit: cover;
}


/* About Me Section */
#about {
    text-align: justify;
    padding: 50px;
    background-color: #354649; /* Darker Grey */
}

#about h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    color: #E0E7E9;
}

#about section {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Resume & Contact Section */
#three {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    color: #333333;
    padding: 40px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact li a {
    color: #333333;
    text-decoration: none;
}


/* More About Me Button */
.button_intro {
    display: inline-block;
    background-color: #E0E7E9; /* Darker Grey */
    color: #354649; /* Light Grey */
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

.button_intro:hover {
    background-color: #6C7A89; /* Blueish Grey */
    color: #fff; /* White */
}
