/* General Styles */

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    color: #333333;
    line-height: 1.6;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a:hover {
    color: #23527c;
}

ul {
    list-style: none;
    padding: 0;
}

/* Header and Navigation */

header {
    background-color: #f7f7f7;
    padding: 20px 0;
}

nav ul {
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #555555;
    font-weight: bold;
}

/* Introduction Section */

#introduction {
    text-align: center;
    padding: 50px 0;
    background-color: #fafafa;
}

.intro h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #222222;
}

.intro p {
    font-size: 1.1em;
    margin-bottom: 30px;
    color: #333333;
}

.actions {
    margin-top: 20px;
}

/* Project Section */

#projects {
    background-color: #f2f2f2;
    padding: 40px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

#projects h2 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
    color: #333333;
}

#projects section {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* About Me Section */

#about {
    text-align: justify;
    padding: 50px;
}

#about h2 {
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
    color: #333333;
}

#about .features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#about section {
    flex: 0 1 calc(33.33% - 20px);
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Resume & Contact Section */

#three {
    display: flex;
    justify-content: space-around;
    background-color: #f2f2f2;
    color: #333333;
    padding: 40px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.contact {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact li a {
    color: #333333;
    text-decoration: none; /* Remove underline from the email link */
}
